*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height:100vh;
}

.container1 {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.navbar, .headermain {
    margin-bottom: 100px;
    width: 800px;
    border: 1px red solid;
    display:flex;
    align-items: center;
    flex:1;
}

.navbar{
    margin-top:10px;
}

.navright {
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    justify-content:flex-end;
    margin-left:auto;
}

.navleft {
    color: #F9FAF8;
    font-size: 24px;
    font-weight:bold;
}

.headermain{
    height: 250px;
    display:flex;
}
.leftmain, .rightmain {
    flex:1;
}

.maintitle{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.subtextmain{
    color: #e5e7eb;
    font-size: 18px;
}

.signupbutton {
    color: #F9FAF8;
    margin: 5px;
    padding: 6px;
    width: 120px;
    background-color: #3882F6;
    border-radius:10px;
    text-align: center;
    font-weight:bold;
}